th:not(:last-child),
td:not(:last-child) {
  border-right: 1px solid rgba(41, 41, 41, 0.5);
}

td {
  border-top: 1px solid rgba(41, 41, 41, 0.5);
}

.transaction-history {
  width: 400px;
  margin: 32px auto;
  border: 1px solid rgba(41, 41, 41, 1);
  text-align: center;
  border-spacing: 0px;
  font-size: 14px;
  line-height: 40px;
  box-shadow: 1px 1px 3px 2px rgba(41, 41, 41, 1);
}

.row-title {
  background-color: #00bcd5;
  color: white;
}

.row {
  border: 1px solid rgba(41, 41, 41, 1);
  color: #646567;
}

.row:nth-child(2n) {
  background-color: #ecf1f4;
}
